In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [7]:
training_data = pd.read_csv('./sample_data/train.csv')

In [12]:
training_data.head().T

,0,1,2,3,4
PassengerId,1,2,3,4,5
Survived,0,1,1,1,0
Pclass,3,1,3,1,3
Name,"Braund, Mr. Owen Harris","Cumings, Mrs. John Bradley (Florence Briggs Th...","Heikkinen, Miss. Laina","Futrelle, Mrs. Jacques Heath (Lily May Peel)","Allen, Mr. William Henry"
Sex,male,female,female,female,male
Age,22.0,38.0,26.0,35.0,35.0
SibSp,1,1,0,1,0
Parch,0,0,0,0,0
Ticket,A/5 21171,PC 17599,STON/O2. 3101282,113803,373450
Fare,7.25,71.2833,7.925,53.1,8.05
Cabin,NaN,C85,NaN,C123,NaN
Embarked,S,C,S,S,S

In [9]:
testing_data = pd.read_csv("./sample_data/test.csv")

In [13]:
testing_data.head().T

,0,1,2,3,4
PassengerId,892,893,894,895,896
Pclass,3,3,2,3,3
Name,"Kelly, Mr. James","Wilkes, Mrs. James (Ellen Needs)","Myles, Mr. Thomas Francis","Wirz, Mr. Albert","Hirvonen, Mrs. Alexander (Helga E Lindqvist)"
Sex,male,female,male,male,female
Age,34.5,47.0,62.0,27.0,22.0
SibSp,0,1,0,0,1
Parch,0,0,0,0,1
Ticket,330911,363272,240276,315154,3101298
Fare,7.8292,7.0,9.6875,8.6625,12.2875
Cabin,NaN,NaN,NaN,NaN,NaN
Embarked,Q,S,Q,S,S

In [11]:
len(training_data), len(testing_data)

(891, 418)

In [27]:
X = training_data.drop("Survived", axis=1)
y = training_data["Survived"]

In [28]:
X_train, X_test, y_train, y_test = train_test_split(training_data.drop('Survived', axis=1), training_data["Survived"], test_size=0.2)

In [29]:
X_train.head().T

,853,590,417,567,46
PassengerId,854,591,418,568,47
Pclass,1,3,2,3,3
Name,"Lines, Miss. Mary Conover","Rintamaki, Mr. Matti","Silven, Miss. Lyyli Karoliina","Palsson, Mrs. Nils (Alma Cornelia Berglund)","Lennon, Mr. Denis"
Sex,female,male,female,female,male
Age,16.0,35.0,18.0,29.0,NaN
SibSp,0,0,0,0,1
Parch,1,0,2,4,0
Ticket,PC 17592,STON/O 2. 3101273,250652,349909,370371
Fare,39.4,7.125,13.0,21.075,15.5
Cabin,D28,NaN,NaN,NaN,NaN
Embarked,S,S,S,S,Q

In [30]:
X_test.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
408,409,3,"Birkeland, Mr. Hans Martin Monsen",male,21.0,0,0,312992,7.7750,NaN,S
839,840,1,"Marechal, Mr. Pierre",male,NaN,0,0,11774,29.7000,C47,C
282,283,3,"de Pelsmaeker, Mr. Alfons",male,16.0,0,0,345778,9.5000,NaN,S
514,515,3,"Coleff, Mr. Satio",male,24.0,0,0,349209,7.4958,NaN,S
193,194,2,"Navratil, Master. Michel M",male,3.0,1,1,230080,26.0000,F2,S

In [31]:
lg_clf = LogisticRegression()
lg_clf.fit(X_train, y_train)

ValueError: could not convert string to float: 'Lines, Miss. Mary Conover'

In [32]:
X_train.isna().sum()

PassengerId      0
Pclass           0
Name             0
Sex              0
Age            135
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          547
Embarked         1
dtype: int64

In [33]:
y_train.isna().sum()

np.int64(0)

In [34]:
training_data.dropna(subset = ["Survived"])

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [35]:
len(training_data)

891

In [36]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.impute import SimpleImputer
from sklearn.pipeline import Pipeline

In [ ]:
pipeline =